@import "tailwindcss";

/* Custom Theme */
:root {
    --bg: #0f172a;
    --card: #1e293b;
    --primary: #6366f1;
    --secondary: #22c55e;
    --text: #e2e8f0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    font-family: system-ui, sans-serif;
}

@keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

